h1 {
  font-size: 250%;
  color: navy;
}

h3 {
  font-size: 200%;
  color: maroon;
}

h5 {
  font-size: 110%;
  color: teal;
}

body {
  background-color: beige;
  margin: 10;
  font-size: 120%;
  font-family: Helvetica;
}
