<h1> Redo the Masterpiece! </h1>
<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Edit'ed Name:
  <input type="text" name="name" size=52><br><br>
  Edit'ed Ingredients:
  <textarea name="ingredients" cols=50 rows=5></textarea><br><br>
  Edit'ed Procedure:
  <textarea name="procedure" cols=50 rows=5></textarea><br><br>
  <input type="submit" value="submit">
</form>
