<h1> Create your unorthodox masterpiece here! </h1>
<form action="/recipes" method="post">
  Name:
  <input type="text" name="name" size=50><br><br>
  Ingredients:
  <p><textarea name="ingredients" cols=50 rows=5></textarea></p><br>
  Procedure:
  <p><textarea name="procedure" cols=50 rows=10></textarea></p><br>
  <input type="submit" value="submit">
</form>
